// Patternlab styles overrides for skip nav pattern

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.config.js: sass-loader.data|includePaths

.skip-nav {
  left: 0;
  right: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible;
  color: #fff;
  text-decoration: none;
}
