// Custom styles for button

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.config.js: sass-loader.data|includePaths

// Bootstrap button mixins are also available for styling:
// @link https://github.com/twbs/bootstrap-sass/blob/881ce27c6b4101698ea849283933203e20861a33/assets/stylesheets/bootstrap/mixins/_buttons.scss
// Alternative button mixin available in /non-printing/mixins/content-utilities.scss

.button {

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:not(.navbar-toggler) { // Exclude nav toggle

    // Bootstrap Button Overrides
    &.btn {

      &-block {
        width: 100%;
        display: block;
      }

      &-default {
        @include button();

        &.ghost {
          //background-color: transparent;
          //color: var(--button-bg);
          //
          //&:hover,
          //&:focus {
          //  color: var(--button-bg-hover);
          //}
        }
      }

      &-outline-default {
        @include button(
          $bgcolor: transparent,
          $hover-bg-color: transparent,
          $color: var(--button-bg),
          $hover-color: var(--button-bg-hover),
        );
      }

      &-primary {
        //@include button(
        //  $bgcolor: var(--primary),
        //  $hover-bg-color: var(--white),
        //  $border-top-color: var(--primary),
        //  $border-bottom-color: var(--primary),
        //  $border-left-color: var(--primary),
        //  $border-right-color: var(--primary),
        //  $hover-border-top-color: var(--white),
        //  $hover-border-bottom-color: var(--white),
        //  $hover-border-left-color: var(--white),
        //  $hover-border-right-color: var(--white),
        //  $color: var(--white),
        //  $hover-color: var(--primary),
        //);
        //
        //&.ghost {
        //  background-color: transparent;
        //  color: var(--primary);
        //
        //  &:hover,
        //  &:focus {
        //    background-color: var(--primary);
        //    border-color: var(--primary);
        //    color: var(--white);
        //  }
        //}
      }

      &-secondary {
        //@include button-variant(c(white), c(black), c(black));
        //@include button-size(rem-calc(20px), rem-calc(30px), rem-calc(18px), rem-calc(4px), rem-calc(4px));

        //@include button(
        //  $bgcolor: var(--secondary),
        //  $hover-bg-color: var(--white),
        //  $border-top-color: var(--secondary),
        //  $border-bottom-color: var(--secondary),
        //  $border-left-color: var(--secondary),
        //  $border-right-color: var(--secondary),
        //  $hover-border-top-color: var(--white),
        //  $hover-border-bottom-color: var(--white),
        //  $hover-border-left-color: var(--white),
        //  $hover-border-right-color: var(--white),
        //  $color: var(--white),
        //  $hover-color: var(--secondary),
        //);
        //
        //&.ghost {
        //  background-color: transparent;
        //  color: var(--secondary);
        //
        //  &:hover,
        //  &:focus {
        //    background-color: var(--secondary);
        //    border-color: var(--secondary);
        //    color: var(--white);
        //  }
        //}
      }

      &-tertiary {
        //@include button-variant(c(white), c(black), c(black));
        //@include button-size(rem-calc(20px), rem-calc(30px), rem-calc(18px), rem-calc(4px), rem-calc(4px));

        //@include button(
        //  $bgcolor: var(--tertiary),
        //  $hover-bg-color: var(--white),
        //  $border-top-color: var(--tertiary),
        //  $border-bottom-color: var(--tertiary),
        //  $border-left-color: var(--tertiary),
        //  $border-right-color: var(--tertiary),
        //  $hover-border-top-color: var(--white),
        //  $hover-border-bottom-color: var(--white),
        //  $hover-border-left-color: var(--white),
        //  $hover-border-right-color: var(--white),
        //  $color: var(--white),
        //  $hover-color: var(--tertiary),
        //);
        //
        //&.ghost {
        //  background-color: transparent;
        //  color: var(--tertiary);
        //
        //  &:hover,
        //  &:focus {
        //    background-color: var(--tertiary);
        //    border-color: var(--tertiary);
        //    color: var(--white);
        //  }
        //}
      }

      &-quaternary {
        //@include button-variant(c(white), c(black), c(black));
        //@include button-size(rem-calc(20px), rem-calc(30px), rem-calc(18px), rem-calc(4px), rem-calc(4px));

        //@include button(
        //  $bgcolor: var(--quaternary),
        //  $hover-bg-color: var(--white),
        //  $border-top-color: var(--quaternary),
        //  $border-bottom-color: var(--quaternary),
        //  $border-left-color: var(--quaternary),
        //  $border-right-color: var(--quaternary),
        //  $hover-border-top-color: var(--white),
        //  $hover-border-bottom-color: var(--white),
        //  $hover-border-left-color: var(--white),
        //  $hover-border-right-color: var(--white),
        //  $color: var(--white),
        //  $hover-color: var(--quaternary),
        //);
        //
        //&.ghost {
        //  background-color: transparent;
        //  color: var(--quaternary);
        //
        //  &:hover,
        //  &:focus {
        //    background-color: var(--quaternary);
        //    border-color: var(--quaternary);
        //    color: var(--white);
        //  }
        //}
      }

      &-quinary {
        //@include button-variant(c(white), c(black), c(black));
        //@include button-size(rem-calc(20px), rem-calc(30px), rem-calc(18px), rem-calc(4px), rem-calc(4px));

        //@include button(
        //  $bgcolor: var(--quinary),
        //  $hover-bg-color: var(--white),
        //  $border-top-color: var(--quinary),
        //  $border-bottom-color: var(--quinary),
        //  $border-left-color: var(--quinary),
        //  $border-right-color: var(--quinary),
        //  $hover-border-top-color: var(--white),
        //  $hover-border-bottom-color: var(--white),
        //  $hover-border-left-color: var(--white),
        //  $hover-border-right-color: var(--white),
        //  $color: var(--white),
        //  $hover-color: var(--quinary),
        //);
        //
        //&.ghost {
        //  background-color: transparent;
        //  color: var(--quinary);
        //
        //  &:hover,
        //  &:focus {
        //    background-color: var(--quinary);
        //    border-color: var(--quinary);
        //    color: var(--white);
        //  }
        //}
      }

      &-senary {
        //@include button-variant(c(white), c(black), c(black));
        //@include button-size(rem-calc(20px), rem-calc(30px), rem-calc(18px), rem-calc(4px), rem-calc(4px));

        //@include button(
        //  $bgcolor: var(--senary),
        //  $hover-bg-color: var(--white),
        //  $border-top-color: var(--senary),
        //  $border-bottom-color: var(--senary),
        //  $border-left-color: var(--senary),
        //  $border-right-color: var(--senary),
        //  $hover-border-top-color: var(--white),
        //  $hover-border-bottom-color: var(--white),
        //  $hover-border-left-color: var(--white),
        //  $hover-border-right-color: var(--white),
        //  $color: var(--white),
        //  $hover-color: var(--senary),
        //);
        //
        //&.ghost {
        //  background-color: transparent;
        //  color: var(--senary);
        //
        //  &:hover,
        //  &:focus {
        //    background-color: var(--senary);
        //    border-color: var(--senary);
        //    color: var(--white);
        //  }
        //}
      }

      &-septenary {
        //@include button-variant(c(white), c(black), c(black));
        //@include button-size(rem-calc(20px), rem-calc(30px), rem-calc(18px), rem-calc(4px), rem-calc(4px));

        //@include button(
        //  $bgcolor: var(--septenary),
        //  $hover-bg-color: var(--white),
        //  $border-top-color: var(--septenary),
        //  $border-bottom-color: var(--septenary),
        //  $border-left-color: var(--septenary),
        //  $border-right-color: var(--septenary),
        //  $hover-border-top-color: var(--white),
        //  $hover-border-bottom-color: var(--white),
        //  $hover-border-left-color: var(--white),
        //  $hover-border-right-color: var(--white),
        //  $color: var(--white),
        //  $hover-color: var(--septenary),
        //);
        //
        //&.ghost {
        //  background-color: transparent;
        //  color: var(--septenary);
        //
        //  &:hover,
        //  &:focus {
        //    background-color: var(--septenary);
        //    border-color: var(--septenary);
        //    color: var(--white);
        //  }
        //}
      }

      &-octonary {
        //@include button-variant(c(white), c(black), c(black));
        //@include button-size(rem-calc(20px), rem-calc(30px), rem-calc(18px), rem-calc(4px), rem-calc(4px));

        //@include button(
        //  $bgcolor: var(--octonary),
        //  $hover-bg-color: var(--white),
        //  $border-top-color: var(--octonary),
        //  $border-bottom-color: var(--octonary),
        //  $border-left-color: var(--octonary),
        //  $border-right-color: var(--octonary),
        //  $hover-border-top-color: var(--white),
        //  $hover-border-bottom-color: var(--white),
        //  $hover-border-left-color: var(--white),
        //  $hover-border-right-color: var(--white),
        //  $color: var(--white),
        //  $hover-color: var(--octonary),
        //);
        //
        //&.ghost {
        //  background-color: transparent;
        //  color: var(--octonary);
        //
        //  &:hover,
        //  &:focus {
        //    background-color: var(--octonary);
        //    border-color: var(--octonary);
        //    color: var(--white);
        //  }
        //}
      }

      &-nonary {
        //@include button-variant(c(white), c(black), c(black));
        //@include button-size(rem-calc(20px), rem-calc(30px), rem-calc(18px), rem-calc(4px), rem-calc(4px));

        //@include button(
        //  $bgcolor: var(--nonary),
        //  $hover-bg-color: var(--white),
        //  $border-top-color: var(--nonary),
        //  $border-bottom-color: var(--nonary),
        //  $border-left-color: var(--nonary),
        //  $border-right-color: var(--nonary),
        //  $hover-border-top-color: var(--white),
        //  $hover-border-bottom-color: var(--white),
        //  $hover-border-left-color: var(--white),
        //  $hover-border-right-color: var(--white),
        //  $color: var(--white),
        //  $hover-color: var(--nonary),
        //);
        //
        //&.ghost {
        //  background-color: transparent;
        //  color: var(--nonary);
        //
        //  &:hover,
        //  &:focus {
        //    background-color: var(--nonary);
        //    border-color: var(--nonary);
        //    color: var(--white);
        //  }
        //}
      }

      &-denary {
        //@include button-variant(c(white), c(black), c(black));
        //@include button-size(rem-calc(20px), rem-calc(30px), rem-calc(18px), rem-calc(4px), rem-calc(4px));

        //@include button(
        //  $bgcolor: var(--denary),
        //  $hover-bg-color: var(--white),
        //  $border-top-color: var(--denary),
        //  $border-bottom-color: var(--denary),
        //  $border-left-color: var(--denary),
        //  $border-right-color: var(--denary),
        //  $hover-border-top-color: var(--white),
        //  $hover-border-bottom-color: var(--white),
        //  $hover-border-left-color: var(--white),
        //  $hover-border-right-color: var(--white),
        //  $color: var(--white),
        //  $hover-color: var(--denary),
        //);
        //
        //&.ghost {
        //  background-color: transparent;
        //  color: var(--denary);
        //
        //  &:hover,
        //  &:focus {
        //    background-color: var(--denary);
        //    border-color: var(--denary);
        //    color: var(--white);
        //  }
        //}
      }

      &-white {
        //@include button(
        //  $bgcolor: var(--white),
        //  $hover-bg-color: var(--light),
        //  $border-top-color: var(--white),
        //  $border-bottom-color: var(--white),
        //  $border-left-color: var(--white),
        //  $border-right-color: var(--white),
        //  $hover-border-top-color: var(--light),
        //  $hover-border-bottom-color: var(--light),
        //  $hover-border-left-color: var(--light),
        //  $hover-border-right-color: var(--light),
        //  $color: var(--secondary),
        //  $hover-color: var(--primary),
        //);
        //
        //&.ghost {
        //  background-color: transparent;
        //  color: var(--white);
        //
        //  &:hover {
        //    background-color: var(--white);
        //    border-color: var(--white);
        //    color: var(--dark);
        //  }
        //}
      }

      &-success {}

      &-danger {}

      &-warning {}

      &-info {}

      &-light {}

      &-dark {}

      &-link {}
    }

  }

  &-block { // [FIX FOR DEPRECATED BOOTSTRAP 4 FUNCTIONALITY]
    display: block;
    width: 100%;
  }

  &--label {
    vertical-align: middle;
  }

  .svg {
    vertical-align: middle;
    transition: color $transition-duration $transition-timing-function;
  }

}

 .buttons-group {
   text-align: center;

   &.vertical {

     .button {
       margin-bottom: 30px;

       &:last-child {
         margin-bottom: 0;
       }
     }
   }

   &:not(.vertical) {

     .button {
       margin-right: 30px;

       &:last-child {
         margin-right: 0;
       }
     }
   }
 }
