.block-social-share {
    position: relative;
}

.block-social-share--list {}

.copied {
    text-align: center;
    pointer-events: none;
    transition: opacity linear 300ms;
    will-change: opacity;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.copied.hide {
    opacity: 0;
}

.copied-content {
    background-color: var(--white);
    padding: 30px;
}

.copied-content i {}

.copied-content strong {
    display: block;
}