# Ignore build config
package.json
package-lock.json

# Ignore dependency directories
node_modules/
vendor/

# Ignore build directories
dist/
fonts/

# Ignore everything in the "patternlab" directory, except patterns:
**/patternlab/**
!**/patternlab/source
