{#
/**
 * Block Name: Row
 *
 * This is the template that displays the row block.
 */
#}

{# Set block data object for block registration: src/funcions/blocks.php #}
{% set block_data = {
  name: 'Row',
  description: 'A row block',
  category: 'dream',
  icon: 'table-row-after',
  keywords: '',
  mode: 'preview',
  post_types: true,
  align: '',
  align_text: '',
  align_content: '',
  enqueue_style: '',
  enqueue_script: '',
  supports_align: false,
  supports_align_text: false,
  supports_align_content: false,
  supports_mode: true,
  supports_multiple: true,
  supports_anchor: true,
  supports_className: true,
  supports_full_height: true,
  supports_jsx: true
} %}

{% if is_preview %}
{# <p>Some editor instructions here.</p> #}
{% endif %}

{# Vertical Gutters #}
{% if fields.vert_gutters['gutters'] %}
  {% set vertical_gutters = [] %}
  {% for gutter in fields.vert_gutters['gutters'] %}
    {% if gutter.breakpoint %}
      {% set bp = '-' ~ gutter.breakpoint %}
    {% else %}
      {% set bp = '' %}
    {% endif %}
    {% if gutter.value %}
      {% set gap = '-' ~ gutter.value %}
    {% else %}
      {% set gap = '' %}
    {% endif %}
    {% if gap %}
      {% set vertical_gutters = vertical_gutters|default([])|merge([
        'gy' ~ bp ~ gap
      ]) %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Horizontal Gutters #}
{% if fields.hor_gutters['gutters'] %}
  {% set horizontal_gutters = [] %}
  {% for gutter in fields.hor_gutters['gutters'] %}
    {% if gutter.breakpoint %}
      {% set bp = '-' ~ gutter.breakpoint %}
    {% else %}
      {% set bp = '' %}
    {% endif %}
    {% if gutter.value %}
      {% set gap = '-' ~ gutter.value %}
    {% else %}
      {% set gap = '' %}
    {% endif %}
    {% if gap %}
      {% set horizontal_gutters = horizontal_gutters|default([])|merge([
        'gx' ~ bp ~ gap
      ]) %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Vertical Alignment #}
{% if fields.vertical_alignment['vert_align'] %}
	{% set vertical_alignment = [] %}
	{% for alignment in fields.vertical_alignment['vert_align'] %}
        {% if alignment.breakpoint %}
            {% set bp = '-' ~ alignment.breakpoint %}
        {% else %}
          {% set bp = '' %}
        {% endif %}
        {% if alignment.alignment %}
            {% set valign = '-' ~ alignment.alignment %}
        {% else %}
          {% set valign = '' %}
        {% endif %}
        {% if valign %}
            {% set vertical_alignment = vertical_alignment|default([])|merge([
                'align-items' ~ bp ~ valign
            ]) %}
        {% endif %}
	{% endfor %}
{% endif %}

{# Horizontal Alignment #}
{% if fields.horizontal_alignment['hor_align'] %}
	{% set horizontal_alignment = [] %}
	{% for alignment in fields.horizontal_alignment['hor_align'] %}
		{% if alignment.breakpoint %}
			{% set bp = '-' ~ alignment.breakpoint %}
    {% else %}
      {% set bp = '' %}
		{% endif %}
        {% if alignment.alignment %}
            {% set halign = '-' ~ alignment.alignment %}
        {% else %}
          {% set halign = '' %}
        {% endif %}
        {% if halign %}
            {% set horizontal_alignment = horizontal_alignment|default([])|merge([
                'justify-content' ~ bp ~ halign
            ]) %}
        {% endif %}
	{% endfor %}
{% endif %}

{# Container Classes #}
{% set container_classes = container_classes|default([])|merge([
    fields.container and fields.full_width ? 'container-fluid' : fields.container ? 'container',
    block['className']
])|sort|join(' ')|trim %}

{# Row Classes #}
{% set row_classes = row_classes|default([])|merge([
  'row',
  fields.container != true ? block['className'],
  fields.no_gutters ? 'g-0',
  vertical_gutters|length > 0 ? vertical_gutters|sort|join(' ')|trim,
  horizontal_gutters|length > 0 ? horizontal_gutters|sort|join(' ')|trim,
  vertical_alignment|length > 0 ? vertical_alignment|sort|join(' ')|trim,
  horizontal_alignment|length > 0 ? horizontal_alignment|sort|join(' ')|trim
])|sort|join(' ')|trim %}

{% if fields.container %}
	<div class="{{ container_classes }}">
{% endif %}

    <div class="{{ row_classes }}">

        <InnerBlocks allowedBlocks="{{ ['acf/column'] | json_encode() | escape('html_attr') }}" />

    </div>

{% if fields.container %}
    </div>
{% endif %}
