 .buttons-group {
   text-align: center;

   &-wrapper {}

   &.vertical {

     .button {
       display: block;
       width: auto;
       margin: 0 auto;
       margin-bottom: 16px;

       &:last-child {
         margin-bottom: 0;
       }
     }
   }

   &:not(.vertical) {

     .button {
       margin-right: 16px;

       &:last-child {
         margin-right: 0;
       }
     }
   }
 }
