{#
/**
 * @file
 * Card Tags Element
 *   Display post tags in card contexts (label/subtitle areas).
 *
 * Available variables:
 *  - post: Current post object
 *  - fields: Block field data
 *  - location: Card location ('label' or 'subtitle')
 */
#}

{% if function('in_array', 'tags', fields.elements) and post.tags and fields.element_tags.card_tags_location == location %}
  <div class="posts-loop--tags--wrapper">
    {% if fields.element_tags.label %}
      <span class="posts-loop--tags--label">{{ fields.element_tags.label }}</span>
    {% endif %}
    {% for tag in post.tags %}
      {% if fields.link_items != true and fields.include_modals != true and fields.element_tags.link_tags == true %}
        <a class="posts-loop--tag--link posts-loop--tag" href="/tag/{{ tag.slug }}">
      {% else %}
        <span class="posts-loop--tag">
      {% endif %}
      {{ tag.name }}
      {% if fields.link_items != true and fields.include_modals != true and fields.element_tags.link_tags == true %}
        </a>
      {% else %}
        </span>
      {% endif %}
      {% if not loop.last %}, {% endif %}
    {% endfor %}
  </div>
{% endif %}