{#
/**
 * @file
 * Card Children Element
 *   Display post children for posts in card contexts (label/subtitle areas).
 *
 * Available variables:
 *  - post: Current post object
 *  - fields: Block field data
 *  - location: Card location ('label' or 'subtitle')
 */
#}

{% if function('in_array', 'children', fields.elements) and post.children and fields.element_children.card_children_location == location %}
  <div class="posts-loop--post-children--wrapper">
    {% if fields.element_children.label %}
      <span class="posts-loop--children--label">{{ fields.element_children.label }}</span>
    {% endif %}
    {% for child in post.children %}
      {% if fields.link_items != true and fields.include_modals != true and fields.element_children.link_children == true %}
        <a class="posts-loop--child--link posts-loop--child" href="/child/{{ child.slug }}">
      {% else %}
        <span class="posts-loop--child">
      {% endif %}
      {{ child.name }}
      {% if fields.link_items != true and fields.include_modals != true and fields.element_children.link_children == true %}
        </a>
      {% else %}
        </span>
      {% endif %}
      {% if not loop.last %}, {% endif %}
    {% endfor %}
  </div>
{% endif %}