{#
/**
 * @file
 * Post Parent Element
 *   Display post parent for posts in layout-driven sections.
 *
 * Available variables:
 *  - post: Current post object
 *  - element: Element configuration data
 *  - fields: Block field data
 */
#}

{% if element.acf_fc_layout == 'post_parent' and post.parent %}
  <div class="posts-loop--post-parent--wrapper">
    {% if element.label %}
      <span class="posts-loop--post-parent--label">{{ element.label }}</span>
    {% endif %}
    {% if fields.link_items != true and element.link_parent == true %}
      <a class="posts-loop--post-parent-link posts-loop--post-parent" href="{{ post.parent.link }}">
    {% else %}
      <span class="posts-loop--post-parent">
    {% endif %}
    {{ post.parent.title }}
    {% if fields.link_items != true and element.link_parent == true %}
      </a>
    {% else %}
      </span>
    {% endif %}
  </div>
{% endif %}