// Custom styles for branding

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.config.js: sass-loader.data|includePaths

.branding {

  &.hide-text {

    .branding--site-name,
    .branding--site-slogan {
      @include remove;
    }
  }

  a {
    display: block;
  }

  &.logo-type--bg {
    min-width: rem-calc(125px);
  }

  &.logo-type--svg {}

  &--site-logo {}

  &--logo-img {
    display: block;
    min-height: rem-calc(25px);

    img,
    svg {
      width: 100%;
    }
  }

  &--site-name {
    margin-top: rem-calc(10px);

    + .branding--site-slogan {
      margin-top: 0;
    }
  }

  &--site-slogan {
    margin-top: rem-calc(10px);
  }
}
