.wp-block-pullquote {

  &.has-primary-color {
    color: var(--primary);
  }

  &.has-secondary-color {
    color: var(--secondary);
  }

  &.has-tertiary-color {
    color: var(--tertiary);
  }

  &.has-quaternary-color {
    color: var(--quaternary);
  }

  &.has-quinary-color {
    color: var(--quinary);
  }

  &.has-senary-color {
    color: var(--senary);
  }

  &.has-septenary-color {
    color: var(--septenary);
  }

  &.has-octonary-color {
    color: var(--octonary);
  }

  &.has-nonary-color {
    color: var(--nonary);
  }

  &.has-denary-color {
    color: var(--denary);
  }

  &.has-light-color {
    color: var(--light);
  }

  &.has-dark-color {
    color: var(--dark);
  }

  &.has-white-color {
    color: var(--white);
  }

  &.has-black-color {
    color: var(--black);
  }
}
