{#
/**
 * @file
 * social-nav
 *
 * Available variables for social-nav:
 *  - social_nav_classes [array]: Choose other classes, like bootstrap sizing, for the nav.
 *  - social_nav_other_classes [string]: Choose other classes, like bootstrap sizing, for the nav.
 *  - social_nav_items [array]: A list of items to be in the nav.
 *  - nav_direction [string: 'horizontal', 'vertical']: direction for social nav layout.
 *  - item.item_classes [array]: Choose other classes, like bootstrap sizing, for the nav item.
 *  - item.item_other_classes [string]: Choose other classes, like bootstrap sizing, for the nav item.
 */
#}

{% set social_nav_classes = social_nav_classes|default([])|merge([
  'social-nav',
  hide_labels == true ? 'hide-labels' : '',
  hide_icons == true ? 'hide-icons' : '',
  'nav-direction-' ~ nav_direction,
  custom_colors == true ? 'custom-colors',
  social_nav_other_classes,
]) | sort | join(' ') | trim %}

{% set nav_items = {} %}

{% for item in social_nav_items %}
  {# TODO: Fix conflict with inline style in list pattern #}
  {% set link_title = item.title ? item.title : item.label %}
  {% if hide_icons == true %}
    {%  set nav_item_text = '<a href="' ~ item.url ~ '" class="social-nav-link" target="' ~ item.target|default('_self') ~ '" title="' ~ link_title ~ '"><span class="label">' ~ item.label ~'</span></a>' %}
  {% else %}
    {%  set nav_item_text = '<a href="' ~ item.url ~ '" class="social-nav-link" target="' ~ item.target|default('_self') ~ '" style="padding-top:' ~ bullet_icon_size ~ '; min-width:' ~ bullet_icon_size ~ ';" title="' ~ link_title ~ '"><span class="label">' ~ item.label ~'</span></a>' %}
  {% endif %}
  {% set item_classes = item.item_classes|default([])|merge([
    'social-nav-item',
    item_other_classes,
  ]) | sort | join(' ') | trim %}
  {% set nav_item = {
    item_element: 'span',
    item_classes: [
      item_classes
    ],
    item_other_classes: item.item_other_classes,
    item_attributes: item.item_attributes,
    item_other_attributes: item.item_other_attributes,
    item_icon: item.icon,
    icon_color: item.icon_color,
    item_text: nav_item_text,
    icon_position: item.icon_position,
    icon_width: item.icon_width,
    icon_height: item.icon_height,
    icon_styles : item.icon_styles,
    icon_other_styles : item.icon_other_styles
  } %}
  {% set nav_items = nav_items|merge([nav_item]) %}
{% endfor %}

{% include '@atoms/list/_list.tpl.twig' with {
  parent_element: 'div',
  parent_classes: [social_nav_classes],
  list_id: nav_id,
  bullet_icons: true,
  bullet_icon_position: bullet_icon_position,
  bullet_icon_size: bullet_icon_size,
  items: nav_items
} %}
