.block-branding {
  margin: 0 auto;
  max-width: 100%;

  &.branding {

    .site-header & {
      margin: 0 auto;
    }
  }

  .branding--site-logo {
    height: 100%;
    margin: 0 auto;

    > a {
      display: block;
      height: 100%;
    }
  }

  .branding--logo-img {
    height: 100%;
  }
}
