{#
/**
 * Block Name: Column
 *
 * This is the template that displays the column block.
 *
 * Blocks are restricted to parent in admin.js
 *
 */
#}

{% if is_preview %}
{# <p>Some editor instructions here.</p> #}
{% endif %}

{# Column Width #}
{% if fields.col_width %}
	{% set column_widths = [] %}
	{% for cw in fields.col_width %}
		{% if cw.breakpoint %}
			{% set bp = '-' ~ cw.breakpoint %}
    {% else %}
      {% set bp = '' %}
		{% endif %}
		{% if cw.width %}
			{% set width = '-' ~ cw.width %}
    {% else %}
      {% set width = '' %}
		{% endif %}
		{% if bp or width %}
			{% set column_widths = column_widths|default([])|merge([
          'col' ~ bp ~ width
      ]) %}
		{% endif %}
	{% endfor %}
{% endif %}

{# Column Alignment #}
{% if fields.col_align %}
	{% set column_aligns = [] %}
	{% for align in fields.col_align %}
		{% if align.breakpoint %}
			{% set bp = '-' ~ align.breakpoint %}
    {% else %}
      {% set bp = '' %}
		{% endif %}
		{% if align.alignment %}
			{% set alignment = '-' ~ align.alignment %}
    {% else %}
      {% set alignment = '' %}
		{% endif %}
		{% if alignment %}
			{% set column_aligns = column_aligns|default([])|merge([
          'align-self' ~ bp ~ alignment
      ]) %}
		{% endif %}
	{% endfor %}
{% endif %}

{# Column Order #}
{% if fields.col_order %}
	{% set column_order = [] %}
	{% for order in fields.col_order %}
		{% if order.breakpoint %}
			{% set bp = '-' ~ order.breakpoint %}
    {% else %}
      {% set bp = '' %}
		{% endif %}
		{% if order.order != null %}
			{% set col_order = '-' ~ order.order %}
    {% else %}
      {% set col_order = '' %}
		{% endif %}
		{% if col_order %}
			{% set column_order = column_order|default([])|merge([
          'order' ~ bp ~ col_order
      ]) %}
		{% endif %}
	{% endfor %}
{% endif %}

{# Column Offset #}
{% if fields.col_offset %}
	{% set column_offset = [] %}
	{% for col_off in fields.col_offset %}
		{% if col_off.breakpoint %}
			{% set bp = '-' ~ col_off.breakpoint %}
    {% else %}
      {% set bp = '' %}
		{% endif %}
		{% if col_off.offset %}
			{% set offset = '-' ~ col_off.offset %}
    {% else %}
      {% set offset = '' %}
		{% endif %}
		{% if offset %}
			{% set column_offset = column_offset|default([])|merge([
          'offset' ~ bp ~ offset
      ]) %}
		{% endif %}
	{% endfor %}
{% endif %}

{# Column Classes #}
{% set column_classes = [
  block['className'],
  fields.col_break == true ? 'w-100' : column_widths|length is not empty ? [column_widths]|sort|join(' ')|trim : 'col',
  column_aligns|length is not empty ? [column_aligns]|sort|join(' ')|trim,
  column_order|length is not empty ? [column_order]|sort|join(' ')|trim,
  column_offset|length is not empty ? [column_offset]|sort|join(' ')|trim,
  fields.bg_color == 'palette' and fields.bg_theme_color ? 'bg-' ~ fields.bg_theme_color,
  fields.color == 'palette' and fields.theme_color ? 'text-' ~ fields.theme_color,
  fields.col_classes
]|sort|join(' ')|trim %}

{# Column Styles #}
{% set column_styles = [
  fields.bg_color == 'custom' ? 'background-color: ' ~ fields.bg_custom_color ~ ';',
  fields.color == 'custom' ? 'color: ' ~ fields.custom_color ~ ';',
  fields.padding['padding']['top'] is not empty ? 'padding-top: ' ~ fields.padding['padding']['top'] ~ 'px;',
  fields.padding['padding']['bottom'] is not empty ? 'padding-bottom: ' ~ fields.padding['padding']['bottom'] ~ 'px;',
  fields.padding['padding']['left'] is not empty ? 'padding-left: ' ~ fields.padding['padding']['left'] ~ 'px;',
  fields.padding['padding']['right'] is not empty ? 'padding-right: ' ~ fields.padding['padding']['right'] ~ 'px;',
] | sort | join(' ') | trim %}

{% set column_attributes = [
  column_styles ? 'style="' ~ column_styles ~ '"'
]|sort|join(' ')|trim %}

<div class="{{ column_classes }}" {{ column_attributes }}>
	{% if fields.col_break != true %}
    <InnerBlocks/>
	{% endif %}
</div>

